spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: submission-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      missing-topics-fatal: false
server:
    port: 8082
