version: '3.9'
services:
  kafka:
    image: confluentinc/cp-kafka:latest
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

      KAFKA_LOG_DIRS: /var/lib/kafka/data

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  
  submission-api:
    build:
      context: ..
      dockerfile: docker/dockerfile-svc.dockerfile
      args:
        MODULE: submission-api
    image: evaluator/submission-api:dev
    depends_on:
      - kafka
      - mongo
    ports: 
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/codeexecutor

    
      JWT_SECRET: ${JWT_SECRET}
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
      FRONT_ORIGIN: ${FRONT_ORIGIN}

  evaluation-orchestrator:
    build:
      context: ..
      dockerfile: docker/dockerfile-svc.dockerfile
      args:
        MODULE: evaluation-orchestrator
    image: evaluator/evaluation-orchestrator:dev
    depends_on:
      - kafka
      - mongo
    ports: 
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/codeexecutor


      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
      SUBMISSIONS_BASE_URL: http://submission-api:8080


  executor-service:
    build:
      context: ..
      dockerfile: docker/dockerfile-svc.dockerfile
      args:
        MODULE: executor-service
    image: evaluator/executor-service:dev
    depends_on:
      - kafka
      - mongo
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/codeexecutor

  ai-feedback:
    build:
      context: ..
      dockerfile: docker/dockerfile-svc.dockerfile
      args:
        MODULE: ai-feedback
    image: evaluator/ai-feedback:dev
    depends_on:
      - kafka
      - mongo
    ports:
      - "8086:8086"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/codeexecutor

  user-service:
    build:
      context: ..
      dockerfile: docker/dockerfile-user-service.dockerfile
    image: evaluator/user-service:dev
    depends_on:
      - kafka
      - mongo
    ports:
      - "8088:8088"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/codeexecutor

      JWT_SECRET: ${JWT_SECRET}

      JWT_PRIVATE_PATH: /app/jwt_private.pem
      JWT_PUBLIC_PATH: /app/jwt_public.pem

  java17-sandbox:
    profiles: ["build-only"]
    build:
      context: .
      dockerfile: sandbox/java17.dockerfile
    image: evaluator/java:17

  python311-sandbox:
    profiles: ["build-only"]
    build:
      context: .
      dockerfile: sandbox/python311.dockerfile
    image: evaluator/python:3.11

volumes:
  mongo_data: